{% extends "base.html" %}
{% block title %}
  Currency Rates
{% endblock %}
{% block content %}
  <head>
    <title>Currency Rates</title>
    <style>
      table, th, td {border: 1px solid black; border-collapse: collapse;}
      th, td {padding: 5px; }
    </style>
  </head>
  <body>
    <div class="container" style="margin-top: 10px">
      <h1>Currency Rates</h1>
      <a href="{% url 'common:download_rates' %}" class="btn btn-primary">Download Rates</a>
      <table class="table">
        <thead class="thead-dark">
          <tr style="background-color: lightgreen">
            <th scope="col">Rate Date</th>
            <th scope="col">Currency</th>
            <th scope="col">Rate</th>
            <th scope="col">Nominal</th>
            <th scope="col">Created At</th>
            <th scope="col">Created By</th>
            <th scope="col">Modified At</th>
            <th scope="col">Modified By</th>
          </tr>
        </thead>
          <tbody>
            {% for currency_rate in currencyrate_list %}
            <tr>
              <td>{{ currency_rate.rate_date }}</td>
              <td>{{ currency_rate.currency }}</td>
              <td>{{ currency_rate.rate }}</td>
              <td>{{ currency_rate.nominal }}</td>
              <td>{{ currency_rate.created_at }}</td>
              <td>{{ currency_rate.created_by }}</td>
              <td>{{ currency_rate.modified_at }}</td>
              <td>{{ currency_rate.modified_by }}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
  </body>
  {% include "includes/paginator.html" %}
{% endblock %}