{% extends "base.html" %}
{% block title %}
  Confirm Delete Currency Rate
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Confirm Delete Currency Rate <strong>{{ currency_rate.rate }}</strong>
      </div>
      <div class="card-body">
        <p>Are you sure you want to delete the currency rate for
          <strong>{{ currency_rate.currency }}</strong> ({{ currency_rate.rate_date }})?</p>
        <form method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Confirm Delete</button>
          <a href="{% url 'common:currency_rates_date' currency_rate.rate_date %}" class="btn btn-secondary">Cancel</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}